body{
    background-color: rgb(53, 49, 48);

}
header{
     width: 100vw;
}

.nav-list{
display: flex;
height: 4rem;
background-color: rgb(61, 57, 57);
justify-content: center;
position: fixed;
top: 0;
left: 0;
gap: 2rem;
width: 100%;
padding-left: 0rem;
padding-right: 0rem;
margin-top: 0rem;
padding-top: 0.5rem;;
padding-bottom: 0rem;


}
.headerli{
    list-style: none;
    min-width: 8rem;
    margin-top: 0rem;
    font-size: 3rem;
    text-align: center;
    font-family: "Honk", system-ui;
     font-weight: 400;
     font-style: normal;
     font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    
}
.headerliicon{
    color: rgb(173, 163, 175);
    list-style: none;
    min-width: 8rem;
    margin-top: 0rem;
    font-size: 3rem;
    text-align: center;
}
.headerlilinks{
    color: aliceblue;
    text-decoration: none;
    height: 4rem;
}

#welcome-section{
    padding-top: 10rem;
    background-color: rgb(34, 31, 31);
    height: 20rem;
    padding-bottom: 10rem;
    width: 100%;
}
#h1welcome{
    text-align: center;
    color: rgb(244, 73, 0);
    font-size: 5rem;
    left: 0;
    font-family: "Honk", system-ui;
     font-weight: 400;
     font-style: normal;
     font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
#pwelcome{
    text-align: center;
    color: rgb(200, 90, 43);
    font-size: 2rem;
    font-family: "Honk", system-ui;
     font-weight: 400;
     font-style: normal;
     font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
#h2project{
    text-align: center;
    font-size: 3rem;
    background-color: rgb(42, 39, 38);
    margin-top: 0rem;
    font-family: "Honk", system-ui;
     font-weight: 400;
     font-style: normal;
     font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
#projects{
    background-color: rgb(53, 49, 48);
    padding-bottom: 20rem;
    width: 100%;
    left :0;
    
}
.project-tiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 2rem;
}
.project-tile{
    padding-bottom: 2rem;
    padding-top: 1rem;
    max-width: 20rem;
    box-shadow: 
                 -3px 2px 8px 5px  rgba(255,000,000,0.7), 
                 4px  1px  7px  5px  rgb(182, 182, 83), 
                 3px  5px  6px  5px  rgba(172, 38, 163, 0.845), 
                -2px  4px  5px  5px  rgb(0, 0, 0);
    background-color: rgb(39, 35, 26);
    border-radius: 12px;
}
.webimg{
    width: 100%;
    height: 150px;
}
.projecth1{
    text-align: center;
    font-size: 3rem;
    color: rgb(210, 204, 190);
}
.projectp1{
    margin: 0rem;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: rgb(150, 141, 124);
}
.project-tile:hover{
    transform: translateY(-20px);
    box-shadow: 
                 0px -10px 15px -6px  rgba(255,000,000,0.7), 
                 0px  5px  15px  0px  rgb(182, 182, 83), 
                 5px  0px  15px  0px  rgba(172, 38, 163, 0.845), 
                -5px  0px  15px  0px  rgb(0, 0, 0);
    transition: transform 0.5s;
    cursor: pointer;
}

.tileslinks{
    text-decoration: none;
}

.test{
    width: 5rem;
    height: 2rem;
    margin: 0.5rem;
}
#copyright{
    margin-bottom: 2rem;
    color: rgb(90, 88, 88);
}
footer{
    background-color: rgb(17, 17, 17);
    height: 5rem;
    padding-top: 0rem;
    padding-bottom: 5rem;
    
}
#verify{
    left: 0;
    text-align:    center;
    
}
.contact-links{
 padding-top: 2rem;
}

.test:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}
#line{
    padding: 0rem;
    margin: 0rem;
    font-size: 1px;
    background-color: aliceblue;
}
.headerli:hover{
transform: scaleX(1.05);
}