body{
    background-color: rgb(194, 182, 132);
}
header{
     width: 100vw;
}

.nav-list{
display: flex;
height: 4rem;
background-color: brown;
justify-content: center;
position: fixed;
top: 0;
left: 0;
gap: 2rem;
width: 100%;
padding-left: 0rem;
padding-right: 0rem;
margin-top: 0rem;
padding-top: 1rem;;
padding-bottom: 0rem;


}
.headerli{
    background-color:brown;
    list-style: none;
    min-width: 8rem;
    margin-top: 0rem;
    font-size: 3rem;
    text-align: center;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
.headerliicon{
    background-color:brown;
    color: rgb(204, 82, 241);
    list-style: none;
    min-width: 8rem;
    margin-top: 0rem;
    font-size: 3rem;
    text-align: center;
}
.headerlilinks{
    color: aliceblue;
    text-decoration: none;
    height: 4rem;
}

#welcome-section{
    padding-top: 10rem;
    background-color: rgb(67, 39, 39);
    height: 20rem;
    width: 100%;
    padding-bottom: 10rem;
    
}
#h1welcome{
    text-align: center;
    color: rgb(244, 73, 0);
    font-size: 5rem;
    left: 0;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
#pwelcome{
    text-align: center;
    color: rgb(200, 90, 43);
    font-size: 2rem;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
#h2project{
    text-align: center;
    font-size: 3rem;
    background-color: salmon;
    margin-top: 0rem;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
#projects{
    background-color: rgb(67, 55, 59);
    padding-bottom: 20rem;
    
}
.project-tiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 2rem;
}
.project-tile{
    justify-content: flex;
    padding-bottom: 2rem;
    padding-top: 1rem;
    max-width: 20rem;
    box-shadow: 
                 -3px 2px 8px 5px  rgba(255,000,000,0.7), 
                 4px  1px  7px  5px  rgb(182, 182, 83), 
                 3px  5px  6px  5px  rgba(172, 38, 163, 0.845), 
                -2px  4px  5px  5px  rgb(0, 0, 0);
    background-color: rgb(39, 35, 26);
    border-radius: 12px;
}
#webimg{
    width: 100%;
    height: 80%;
}
#projecth1{
    text-align: center;
    font-size: 3rem;
    color: rgb(210, 204, 190);
}
#projectp1{
    margin: 0rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: rgb(150, 141, 124);
}
.project-tile:hover{
    transform: scale(1.1);
    box-shadow: 
                 0px -10px 15px -6px  rgba(255,000,000,0.7), 
                 0px  5px  15px  0px  rgb(182, 182, 83), 
                 5px  0px  15px  0px  rgba(172, 38, 163, 0.845), 
                -5px  0px  15px  0px  rgb(0, 0, 0);
    transition: transform 0.5s;
    cursor: pointer;
}

.tileslinks{
    text-decoration: none;
}
.test{
    width: 10rem;
    height: 4rem;
    margin: 1rem;
}
footer{
    background-color: brown;
    height: 6rem;
    padding-top: 0rem;
    text-align: center;
}

.test:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}
.headerli:hover{
    background-color:rgb(138, 34, 34);
    border-radius: 15px;
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
    box-shadow: 
                 0px -10px 15px -6px  rgba(255,000,000,0.7), 
                 0px  5px  15px  0px  rgb(182, 182, 83), 
                 5px  0px  15px  0px  rgba(172, 38, 163, 0.845), 
                -5px  0px  15px  0px  rgb(0, 0, 0);
}